.idea/
spring-configuration-using-xml/.metadata/
spring-configuration-using-xml/InversionOfControlInSpringUsingXMLFile/.settings/
spring-configuration-using-xml/InversionOfControlInSpringUsingXMLFile/bin/
spring-configuration-using-xml/InversionOfControlInSpringUsingXMLFile/.classpath
spring-configuration-using-xml/InversionOfControlInSpringUsingXMLFile/.project
/.metadata/
